/*==================================================*
*COTAFARMA • SIDEBAR PREMIUM 2026*
*==================================================*/

:root{

    --bg:#08111f;
    --bg2:#0f172a;
    --card:#111c2d;
    --hover:#18263b;

    --green:#18d27f;
    --green2:#00b86b;

    --text:#eef4ff;
    --muted:#8fa3bd;

    --border:rgba(255,255,255,.06);

    --shadow:
        0 15px 45px rgba(0,0,0,.35);
}


/*==================================================
  FONTE GLOBAL
==================================================*/

html,
body {

    margin:0;
    padding:0;

    font-family:"Inter", sans-serif;

    box-sizing:border-box;
}

*,
*::before,
*::after {

    box-sizing:inherit;
}