{% extends "base.html" %}

{% block title %}
Perfil da Farmácia
{% endblock %}


{% block css %}

<link rel="stylesheet"
      href="{{ url_for('static', filename='css/conecta.css') }}">

<link rel="stylesheet"
      href="{{ url_for('static', filename='css/minhas_publicacoes.css') }}">

{% endblock %}



{% block page_content %}


<div class="conecta-page">


    <a href="{{ url_for('conecta.conecta') }}" class="perfil-voltar">
        <i class="bi bi-arrow-left"></i>
        Voltar para o Feed
    </a>



    <!-- PERFIL DA FARMÁCIA -->

    <div class="perfil-farmacia-header"
{% if foto_capa %}
style="background-image:url('{{ foto_capa }}');"
{% endif %}
>


{% if meu_perfil %}

<form action="{{ url_for('conecta.editar_perfil') }}"
      method="POST"
      enctype="multipart/form-data">

    <label class="editar-capa">

        <i class="bi bi-camera-fill"></i>

        <input 
        type="file"
        name="foto_capa"
        onchange="this.form.submit()">

    </label>


{% endif %}



<div class="perfil-farmacia-avatar">


    {% if foto_perfil %}

        <img src="{{ foto_perfil }}">

    {% else %}

        <i class="bi bi-shop"></i>

    {% endif %}


{% if meu_perfil %}

<label class="editar-foto">

    <i class="bi bi-camera-fill"></i>

    <input 
    type="file"
    name="foto_perfil"
    onchange="this.form.submit()">

</label>


</form>

{% endif %}


</div>


</div>



        <div class="perfil-farmacia-info">


            <h1>
                {{ usuario_nome }}
            </h1>

{% if not meu_perfil %}

<div class="perfil-acoes">

<form
action="{{ url_for('conecta.alternar_seguir', cnpj=perfil_cnpj) }}"
method="POST">

<button
class="btn-seguir {% if segue %}seguindo{% endif %}"
type="submit">


{% if segue %}

<i class="bi bi-check-circle-fill"></i>
Seguindo

{% else %}

<i class="bi bi-person-plus-fill"></i>
Seguir

{% endif %}


</button>

</form>

</div>

{% endif %}

            <p>
                Farmácia participante da comunidade Conecta
            </p>



            <div class="perfil-status">


                <div>

                    <strong>
                        {{ posts|length }}
                    </strong>

                    <span>
                        Publicações
                    </span>

                </div>



              <div>

    <strong>
        {{ seguidores }}
    </strong>

    <span>
        Seguidores
    </span>

</div>

<div>

    <strong>
        {{ seguindo }}
    </strong>

    <span>
        Seguindo
    </span>

</div>  


            </div>


        </div>


    </div>




    <h2 class="perfil-titulo">

        Publicações de {{ usuario_nome }}

    </h2>





    {% for post in posts %}


    <div class="perfil-post">


        <div class="post-header">


            <div class="post-avatar">

                {{ post[1][0] }}

            </div>



            <div class="post-user">


                <strong>

                    {{ post[1] }}

                </strong>


                <span>

                    {{ post[4] }}

                </span>


            </div>


        </div>





        {% if post[2] %}


        <div class="post-content">


            <p>

                {{ post[2] }}

            </p>


        </div>


        {% endif %}






        {% if post[3] %}


        <div class="post-image">


            <img src="{{ post[3] }}">


        </div>


        {% endif %}




        <div class="post-actions">


            <button>

                <i class="bi bi-hand-thumbs-up"></i>

                Curtir

            </button>



            <button>

                <i class="bi bi-chat"></i>

                Comentar

            </button>



            <button>

                <i class="bi bi-share"></i>

                Compartilhar

            </button>



            <button>

                <i class="bi bi-bookmark"></i>

                Salvar

            </button>


        </div>



    </div>



    {% else %}


    <div class="card">

        <p>
            Esta farmácia ainda não possui publicações.
        </p>

    </div>


    {% endfor %}





</div>



{% endblock %}